<div class="container-fluid">
    <main>
        <section>
            <h2 class="text-primary">Registro de alumno</h2>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="needs-validation">

                <div class="row mb-3">
                    <div class="col-xs-6 col-sm-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombre" name="nombre"
                            autofocus autocomplete="given-name" placeholder="Nombre" [ngClass]="{
                                'is-invalid': nombre.invalid && nombre.touched,
                                'is-valid': nombre.valid && nombre.touched
                            }">
                        <app-error-helper [control]="nombre"></app-error-helper>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <label for="apellido" class="form-label">Apellido:</label>
                        <input formControlName="apellido" type="text" class="form-control" id="apellido" name="apellido"
                            autocomplete="family-name" placeholder="Apellido" [ngClass]="{
                                'is-invalid': apellido.invalid && apellido.touched,
                                'is-valid': apellido.valid && apellido.touched
                            }">
                        <app-error-helper [control]="apellido"></app-error-helper>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 col-md-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                        <input formControlName="fechaNacimiento" type="date" class="form-control" id="fechaNacimiento"
                            name="fechaNacimiento" autocomplete="bday" placeholder="dd/mm/aaaa" [ngClass]="{
                                'is-invalid': fechaNacimiento.invalid && fechaNacimiento.touched,
                                'is-valid': fechaNacimiento.valid && fechaNacimiento.touched
                            }">
                        <app-error-helper [control]="fechaNacimiento"></app-error-helper>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 col-md-3">
                        <label for="dni" class="form-label">DNI:</label>
                        <input formControlName="dni" type="text" class="form-control" id="dni" name="dni"
                            inputmode="numeric" placeholder="DNI" [ngClass]="{
                                'is-invalid': dni.invalid && dni.touched,
                                'is-valid': dni.valid && dni.touched
                            }">
                        <app-error-helper [control]="dni"></app-error-helper>
                    </div>
                </div>

                <div formGroupName="direccion" class="row mb-3">
                    <div class="col-sm-6 col-md-3">
                        <label for="provincia" class="form-label">Provincia:</label>
                        <select formControlName="provincia" id="provincia" name="provincia" class="form-select"
                            aria-label="Provincia" [ngClass]="{
                            'is-invalid': provincia.invalid && provincia.touched,
                            'is-valid': provincia.valid && provincia.touched
                        }">
                            <option [selected]="true" hidden disabled>Selecciona provincia</option>
                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Mendoza">Mendoza</option>
                            <option value="Salta">Salta</option>
                        </select>
                        <app-error-helper [control]="provincia"></app-error-helper>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <label for="localidad" class="form-label">Localidad:</label>
                        <input formControlName="localidad" type="text" class="form-control" id="localidad"
                            name="localidad" autocomplete="address-level2" placeholder="Florida" [ngClass]="{
                                'is-invalid': localidad.invalid && localidad.touched,
                                'is-valid': localidad.valid && localidad.touched
                            }">
                        <app-error-helper [control]="localidad"></app-error-helper>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <label for="calle" class="form-label">Calle:</label>
                        <input formControlName="calle" type="text" class="form-control" id="calle" name="calle"
                            autocomplete="street-address" placeholder="Calle 1234" [ngClass]="{
                                'is-invalid': calle.invalid && calle.touched,
                                'is-valid': calle.valid && calle.touched
                            }">
                        <app-error-helper [control]="calle"></app-error-helper>
                    </div>
                </div>

                <hr>
                <div class="row mb-3">
                    <div class="col-sm-6 col-md-3">
                        <label for="email" class="form-label">E-mail:</label>
                        <input formControlName="email" type="email" class="form-control" id="email" name="email"
                            autocomplete="email" placeholder="email@ejemplo.com" [ngClass]="{
                                'is-invalid': email.invalid && email.touched,
                                'is-valid': email.valid && email.touched
                            }">
                        <app-error-helper [control]="email"></app-error-helper>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 col-md-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input formControlName="password" type="password" class="form-control" id="password"
                            name="password" autocomplete="new-password" placeholder="Contraseña" [ngClass]="{
                                'is-invalid': password.invalid && password.touched,
                                'is-valid': password.valid && password.touched
                            }">
                        <app-error-helper [control]="password"></app-error-helper>
                        <div class="form-text">
                            La contraseña debe tener entre 4-20 caracteres y debe contener letras y números.
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <label for="repeatPassword" class="form-label">Repetir contraseña:</label>
                        <input formControlName="repeatPassword" type="password" class="form-control" id="repeatPassword"
                            name="repeatPassword" autocomplete="new-password" placeholder="Contraseña" [ngClass]="{
                                'is-invalid': repeatPassword.invalid && repeatPassword.touched,
                                'is-valid': repeatPassword.valid && repeatPassword.touched
                            }">
                        <app-error-helper [control]="repeatPassword"></app-error-helper>
                    </div>
                </div>

                <div class="col-12 mb-1">
                    <button type="submit" class="btn btn-lg btn-primary">Registrarse</button>
                </div>

            </form>

            <app-spinner *ngIf="loading"></app-spinner>

            <ng-container *ngIf="!loading && submitted && !formulario.valid">
                <ng-container *ngIf="formulario?.errors?.['passwordMismatch']">
                    <div class="alert alert-danger d-flex align-items-center mt-2 mb-0 p-1" role="alert">
                        <i class="fa-solid fa-circle-exclamation me-1"></i> <small>Las contraseñas no coinciden.</small>
                    </div>
                </ng-container>
                <p class="text-danger fw-bold mt-2">Completa todos los campos correctamente.</p>
            </ng-container>

            <ng-container *ngIf="!loading && submitted && formulario.valid">
                <p class="text-success fw-bold mt-2">
                    Registro correcto.
                </p>
                <h3>JSON</h3>
                <pre class="mt-1 fw-bold">
                    {{formulario.value | json}}
                </pre>
            </ng-container>
        </section>
    </main>
</div>